:root {
    --primary-color: rgb(0,0,0);
    --secondary-color: rgba(247, 242, 242, 0.829);
    --tertiary-color: rgb(98, 76, 112);
}
* {
    box-sizing: border-box;
  }

body {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-family: "Cabin", Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}
/* start of navbar styling */
#navbar {
    background-image: linear-gradient(to right, rgb(198, 196, 199),var(--tertiary-color));
    margin-bottom: 0;
    font-size: 24px;
}

#navbarNav {
    display: flex;
    justify-content: center;
    
}

.navbar-nav a {
    color: var(--secondary-color);
}

.navbar-nav a:hover {
    font-size: 2rem;
}
/* end of navbar styling */

/* start of styling of lhs column with vertical name */
#name-bar {
    display: block;
    position: relative;
    text-align: center;
    line-height: 80%;
    font-family: "Indie Flower";
    font-size: 40px;
    font-weight: bold;
}

#name-bar::after {
    content: ""; 
    background-image: url("../images/annie-spratt-gSQbip5HHuc-unsplash.jpg");
    background-size: cover; 
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
} 

#name {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* bullet symbol between first and last name */
#bullet {
    font-size: 10px;
}

/* end of styling of lhs column with vertical name */

/* headers for all pages */
h1 {
    text-align: center;
    padding-bottom: 20px;
}

/* padding added above container on each page */
#about-me, #skills, #projects, #hello {
    padding-top: 100px;
}

/* start of styling about me page */
#about-me-image {
    padding: 20px;
}

#about-me-text {
    padding: 20px;
    text-align: center;
}

#about-me-image img {
    max-height: 350px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px black;
}

#about-me-image img:hover {
    opacity: 0.85;
}
/* end of styling about me page */

/* start of styling project page */
#front-end, #back-end {
    text-align: center;
    margin: 0 auto;
}

#front-end ul , #back-end ul {
    list-style: none;
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.project-bot-img {
    padding-top: 10px;
}

#project-image-1 img{
    height: 300px;
    object-fit: fill;
}

#project-image-2 img, #project-image-3 img, #project-image-4 img, #project-image-5 img {
    height: 145px;
}

#project-image-1, #project-image-2, #project-image-3, #project-image-4, #project-image-5 {
    position: relative;
}

.project-text, .project-text-large {
    position: absolute;
    margin-top: 10px;
    border: ridge 1px rgb(98, 76, 112);
    background-color: rgb(98, 76, 112,.80);
    text-align: center;
    bottom: 8px;
    left: 16px;
    color: var(--secondary-color);
}
/* end of styling project page */

/* start of styling say-hello page */
.hello-form {
    display: block;
    /* background-color: rgba(82,79,79,0.25); */
    padding: 2.5%;
    width: 100%;
    border: solid var(--tertiary-color) 3px;
    box-shadow: 5px 10px;
}

.hello-form form {
    width: 80%;
    margin: 0 auto;
}

.hello-fi {
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: grey;
    width: 100%;
    margin-bottom: 15px;
    background-color: var(--secondary-color);
}

.hello-fi:focus {
    background-color: rgb(255,255,255);
    outline: none;
    border: 3px solid var(--tertiary-color);
}

.hello-form label {
    margin: 0 10px;
}

.hello-form button {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px 20px;
}

.hello-form button:hover {
    padding: 12px 24px;
    font-size: 16px;
}
/* end of styling say-hello */

/* start of styling footer */
footer {
    border-top: solid var(--tertiary-color) 2px;
}
.fa-envelope, .fa-facebook , .fa-instagram, .fa-linkedin {
    color: black;
}
/* end of styling footer */

/* start of styling for media screen max-width of 600px */
@media screen and (max-width:600px) {
    
    #about-me-image img {
        max-height: 200px;
    }
    
    #name-bar {
        font-size: 30px;
    } 
}
/* end of styling for media screen max-width of 600px */

/* start of stylings for media screen max-width of 992px (matched with Bootstrap lg */ 
@media screen and (max-width: 992px) {
    .project-top-img {
        padding-top: 10px;
    }
}
/* end of stylings for media screen max-width of 992px (matched with Bootstrap lg */ 